Repository vexxhost/magnum-cluster-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: ensure-calico-manifest, replace-docker-io-calico

ensure-calico-manifest:
  name: ensure calico manifest exists for CALICO_TAG
  language: system
  entry: bash -c
  args:
  - 'CALICO_TAG=$(grep ^CALICO_TAG magnum_cluster_api/resources.py | cut -d''"'' -f2)
  
  ...

replace-docker-io-calico:
  name: replace docker.io to quay.io for calico
  language: system
  entry: sed -i 's|docker.io/calico/|quay.io/calico/|g'

feat: add support for Cilium HubbleUI (#870)
  docs/user/labels.md
  src/addons/cilium.rs
  src/magnum.rs
Due: none

chore(deps): update dependency projectcalico/calico to v3.31.3 (#872)
  docs/user/labels.md
  magnum_cluster_api/cmd/image_loader.py
  magnum_cluster_api/manifests/calico/v3.31.3.yaml
  magnum_cluster_api/resources.py
  registry/custom-images.yml
Due: ensure-calico-manifest, replace-docker-io-calico

chore(deps): update kubernetes
  .github/workflows/ci.yml
Due: none

chore(deps): update cloud-provider-openstack
  .charts.yml
  magnum_cluster_api/charts/openstack-cloud-controller-manager/Chart.lock
  magnum_cluster_api/charts/openstack-cloud-controller-manager/Chart.yaml
  src/magnum.rs
Due: none

chore(deps): update cloud-provider-openstack (#874)
  .charts.yml
  magnum_cluster_api/charts/openstack-cloud-controller-manager/Chart.lock
  magnum_cluster_api/charts/openstack-cloud-controller-manager/Chart.yaml
  src/magnum.rs
Due: none

chore(deps): update cluster-autoscaler
  magnum_cluster_api/images.py
Due: none

docs: document proxy for isolated clusters
  docs/admin/isolated-clusters.md
Due: none

chore: update kubernetes version fetching to use capo-image-elements
  hack/bump/kubernetes.sh
Due: none

chore: add GH_TOKEN to kubernetes bump job environment
  .github/workflows/bump.yml
Due: none

chore: remove workarounds in devstack installation merged already
  .github/workflows/ci.yml
Due: none

add tmate for troubleshooting
  .github/workflows/ci.yml
Due: none

enable magnum
  .github/workflows/ci.yml
Due: none

use importlib instead of pkg_resources
  magnum_cluster_api/resources.py
Due: ensure-calico-manifest

chore(deps): update kubernetes (#863)
  .github/workflows/ci.yml
Due: none

Update CI workflow to use Ubuntu 24.04
  .github/workflows/ci.yml
Due: none

ci: replace GHA sonobuoy jobs with Zuul jobs
  .github/workflows/ci.yml
  Cargo.lock
  uv.lock
  zuul.d/jobs.yaml
  zuul.d/playbooks/sonobuoy/post.yml
  zuul.d/playbooks/sonobuoy/pre.yml
  zuul.d/playbooks/sonobuoy/run.yml
  zuul.d/project.yaml
Due: none

chore: remove workarounds in devstack installation merged already (#884)
  .github/workflows/ci.yml
  Cargo.lock
  magnum_cluster_api/resources.py
  uv.lock
  zuul.d/jobs.yaml
  zuul.d/playbooks/sonobuoy/post.yml
  zuul.d/playbooks/sonobuoy/pre.yml
  zuul.d/playbooks/sonobuoy/run.yml
  zuul.d/project.yaml
Due: ensure-calico-manifest

Replace Sonobuoy with Hydrophone for conformance testing (#888)
  hack/run-integration-tests.sh
  zuul.d/jobs.yaml
  zuul.d/playbooks/hydrophone/post.yml
  zuul.d/playbooks/hydrophone/pre.yml
  zuul.d/playbooks/hydrophone/run.yml
  zuul.d/playbooks/sonobuoy/post.yml
  zuul.d/project.yaml
Due: none

Enable encryption between kubelet and kube-apiserver on Magnum clusters
  magnum_cluster_api/resources.py
  src/features/kubelet_apiserver_tls.rs
  src/features/mod.rs
  src/resources.rs
Due: ensure-calico-manifest

update k8s versions
  zuul.d/jobs.yaml
  zuul.d/project.yaml
Due: none

fix: harden kubelet server certificate bootstrap feature (#890)
  src/features/kubelet_apiserver_tls.rs
  src/features/mod.rs
Due: none

fix lint error
  src/features/kubelet_apiserver_tls.rs
Due: none

fix label name
  docs/user/labels.md
  magnum_cluster_api/resources.py
  src/features/kubelet_serving_tls.rs
  src/features/mod.rs
  src/resources.rs
Due: ensure-calico-manifest

make new label as optional and fix sed cmd for kubelet config update
  build.rs
  crates/cluster_feature_derive/src/lib.rs
  src/features/kubelet_serving_tls.rs
Due: none

install external csr approver instead of manual approval
  .charts.yml
  docs/user/labels.md
  magnum_cluster_api/charts/kubelet-csr-approver/.helmignore
  magnum_cluster_api/charts/kubelet-csr-approver/Chart.yaml
  magnum_cluster_api/charts/kubelet-csr-approver/README.md
  magnum_cluster_api/charts/kubelet-csr-approver/requirements.lock
  magnum_cluster_api/charts/kubelet-csr-approver/templates/_helpers.tpl
  magnum_cluster_api/charts/kubelet-csr-approver/templates/clusterrole.yaml
  magnum_cluster_api/charts/kubelet-csr-approver/templates/deployment.yaml
  magnum_cluster_api/charts/kubelet-csr-approver/templates/extra-objects.yaml
  magnum_cluster_api/charts/kubelet-csr-approver/templates/rolebinding.yaml
  magnum_cluster_api/charts/kubelet-csr-approver/templates/service.yaml
  magnum_cluster_api/charts/kubelet-csr-approver/templates/serviceaccount.yaml
  magnum_cluster_api/charts/kubelet-csr-approver/templates/servicemonitor.yaml
  magnum_cluster_api/charts/kubelet-csr-approver/templates/tests/test-connection.yaml
  magnum_cluster_api/charts/kubelet-csr-approver/values.yaml
  magnum_cluster_api/resources.py
  src/features/kubelet_serving_tls.rs
Due: ensure-calico-manifest

fix test and lint
  magnum_cluster_api/charts/kubelet-csr-approver/templates/tests/test-connection.yaml
  magnum_cluster_api/charts/patches/kubelet-csr-approver/001-set-namespace-in-test-connection-job.patch
  magnum_cluster_api/resources.py
Due: ensure-calico-manifest

fix chart patch file
  magnum_cluster_api/charts/patches/kubelet-csr-approver/001-set-namespace-in-test-connection-job.patch
Due: none

chore: pin third-party GitHub Actions to commit SHAs
  .github/workflows/ci.yml
Due: none

chore: pin third-party GitHub Actions to commit SHAs
  .github/workflows/image.yml
Due: none

chore: pin third-party GitHub Actions to commit SHAs (#892)
  .github/workflows/ci.yml
  .github/workflows/image.yml
Due: none

ci: update kube version in zuul jobs
  zuul.d/jobs.yaml
  zuul.d/project.yaml
Due: none

Path conditions:
  ensure-calico-manifest: any of: ^magnum_cluster_api/resources.py$, but not: ^magnum_cluster_api/charts/
  replace-docker-io-calico: any of: ^magnum_cluster_api/manifests/calico/.*\.yaml$, but not: ^magnum_cluster_api/charts/
