Repository vexxhost/magnum-cluster-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: ensure-calico-manifest, replace-docker-io-calico

.pre-commit-config.yaml:

exclude: ^magnum_cluster_api/charts/

repos:
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v2.0.0
    hooks:
      - id: conventional-pre-commit
        stages:
          - commit-msg

  - repo: https://github.com/psf/black
    rev: 24.8.0
    hooks:
      - id: black

  - repo: https://github.com/pycqa/flake8
    rev: 5.0.4
    hooks:
      - id: flake8

  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: check-yaml
        args: [--allow-multiple-documents]
      - id: end-of-file-fixer
      - id: trailing-whitespace

  - repo: local
    hooks:
      - id: ensure-calico-manifest
        name: ensure calico manifest exists for CALICO_TAG
        language: system
        files: ^magnum_cluster_api/resources.py$
        entry: bash -c
        args:
          - |
              CALICO_TAG=$(grep ^CALICO_TAG magnum_cluster_api/resources.py | cut -d'"' -f2)
              curl -o magnum_cluster_api/manifests/calico/${CALICO_TAG}.yaml https://raw.githubusercontent.com/projectcalico/calico/${CALICO_TAG}/manifests/calico.yaml
              sed -i 's|docker.io/calico/|quay.io/calico/|g' magnum_cluster_api/manifests/calico/${CALICO_TAG}.yaml
      - id: replace-docker-io-calico
        name: replace docker.io to quay.io for calico
        language: system
        files: ^magnum_cluster_api/manifests/calico/.*\.yaml$
        entry: sed -i 's|docker.io/calico/|quay.io/calico/|g'

upload sdist
  .github/workflows/ci.yml
Due: none

Pin Maturin to 1.9.6
  .github/workflows/ci.yml
  .github/workflows/release-please.yml
Due: none

updated images for the registry
  registry/custom-images.yml
Due: none

feat: add octavia_provider config option with amphora deprecation warning
  docs/user/labels.md
  magnum_cluster_api/conf.py
  magnum_cluster_api/driver.py
  magnum_cluster_api/resources.py
  magnum_cluster_api/tests/unit/test_utils.py
  magnum_cluster_api/utils.py
  src/magnum.rs
Due: ensure-calico-manifest

fix lint
  magnum_cluster_api/resources.py
  magnum_cluster_api/utils.py
Due: ensure-calico-manifest

set default as amphorav2
  docs/user/labels.md
  magnum_cluster_api/conf.py
  magnum_cluster_api/driver.py
  magnum_cluster_api/utils.py
Due: none

remove configuration option for octavia provider
  magnum_cluster_api/conf.py
  magnum_cluster_api/utils.py
  src/magnum.rs
Due: none

fix doc
  docs/user/labels.md
Due: none

update test
  magnum_cluster_api/tests/unit/test_utils.py
Due: none

fix lint error
  magnum_cluster_api/utils.py
Due: none

fix typo
  magnum_cluster_api/resources.py
  magnum_cluster_api/utils.py
Due: ensure-calico-manifest

bump cluster autoscaler to fix role permission issue
  .charts.yml
  magnum_cluster_api/charts/cluster-autoscaler/Chart.yaml
  magnum_cluster_api/charts/cluster-autoscaler/README.md
  magnum_cluster_api/charts/cluster-autoscaler/README.md.gotmpl
  magnum_cluster_api/charts/cluster-autoscaler/templates/clusterrole.yaml
  magnum_cluster_api/charts/cluster-autoscaler/templates/deployment.yaml
  magnum_cluster_api/charts/cluster-autoscaler/templates/role.yaml
  magnum_cluster_api/charts/cluster-autoscaler/templates/secret.yaml
  magnum_cluster_api/charts/cluster-autoscaler/values.yaml
  magnum_cluster_api/charts/patches/cluster-autoscaler/001-add-omt-to-clusterrole.patch
Due: none

fix lint error
  magnum_cluster_api/resources.py
Due: ensure-calico-manifest

feat: omit octavia_provider to use Octavia default
  Cargo.lock
  docs/user/labels.md
  magnum_cluster_api/driver.py
  magnum_cluster_api/resources.py
  magnum_cluster_api/tests/unit/test_utils.py
  magnum_cluster_api/utils.py
  src/magnum.rs
Due: ensure-calico-manifest

feat: add octavia_provider config option with amphora deprecation warning (#834)
  Cargo.lock
  docs/user/labels.md
  magnum_cluster_api/resources.py
  magnum_cluster_api/utils.py
Due: ensure-calico-manifest

feat: add k8s version compatibility matrix
  magnum_cluster_api/driver.py
  magnum_cluster_api/exceptions.py
  magnum_cluster_api/utils.py
  magnum_cluster_api/version_matrix.py
Due: none

fix lint error
  magnum_cluster_api/exceptions.py
  magnum_cluster_api/version_matrix.py
Due: none

set min and max limit
  magnum_cluster_api/version_matrix.py
Due: none

chore(deps): update cluster-autoscaler
  magnum_cluster_api/images.py
Due: none

fix: set default value for kube_tag in rust driver
  src/magnum.rs
Due: none

chore(deps): update kubernetes
  .github/workflows/ci.yml
Due: none

chore(deps): update kubernetes test versions to 1.33.7 and 1.34.3
  .github/workflows/ci.yml
Due: none

chore(deps): update kubernetes test versions to 1.33.7 and 1.34.3 (#869)
  .github/workflows/ci.yml
Due: none

fix: FromPyObject implementation to use builder defaults instead of Default::default()
  src/magnum.rs
Due: none

chore: fix isort import order
  magnum_cluster_api/utils.py
Due: none

fix: remove pyo3 attribute from ClusterLabels
  src/magnum.rs
Due: none

refactor: centralize DEFAULT_KUBE_TAG constant and update ClusterLabels extraction
  magnum_cluster_api/tests/conftest.py
  magnum_cluster_api/utils.py
  src/lib.rs
  src/magnum.rs
Due: none

feat: switch to upstream snapshot-controller chart
  .charts.yml
  magnum_cluster_api/charts/snapshot-controller-csi/Chart.yaml
  magnum_cluster_api/charts/snapshot-controller-csi/crds/groupsnapshot.storage.k8s.io_volumegroupsnapshotclasses.yaml
  magnum_cluster_api/charts/snapshot-controller-csi/crds/groupsnapshot.storage.k8s.io_volumegroupsnapshotcontents.yaml
  magnum_cluster_api/charts/snapshot-controller/.helmignore
  magnum_cluster_api/charts/snapshot-controller/Chart.yaml
  magnum_cluster_api/charts/snapshot-controller/LICENSE
  magnum_cluster_api/charts/snapshot-controller/README.md
  magnum_cluster_api/charts/snapshot-controller/crds/groupsnapshot.storage.k8s.io_volumegroupsnapshotclasses.yaml
  magnum_cluster_api/charts/snapshot-controller/crds/groupsnapshot.storage.k8s.io_volumegroupsnapshotcontents.yaml
  magnum_cluster_api/charts/snapshot-controller/crds/groupsnapshot.storage.k8s.io_volumegroupsnapshots.yaml
  magnum_cluster_api/charts/snapshot-controller/crds/snapshot.storage.k8s.io_volumesnapshotclasses.yaml
  magnum_cluster_api/charts/snapshot-controller/crds/snapshot.storage.k8s.io_volumesnapshotcontents.yaml
  magnum_cluster_api/charts/snapshot-controller/crds/snapshot.storage.k8s.io_volumesnapshots.yaml
  magnum_cluster_api/charts/snapshot-controller/requirements.lock
  magnum_cluster_api/charts/snapshot-controller/templates/NOTES.txt
  magnum_cluster_api/charts/snapshot-controller/templates/_helpers.tpl
  magnum_cluster_api/charts/snapshot-controller/templates/deployment_controller.yaml
  magnum_cluster_api/charts/snapshot-controller/templates/poddisruptionbudget_controller.yaml
  magnum_cluster_api/charts/snapshot-controller/templates/service_controller.yaml
  magnum_cluster_api/charts/snapshot-controller/templates/serviceaccount_controller.yaml
  magnum_cluster_api/charts/snapshot-controller/templates/servicemonitor.yaml
  magnum_cluster_api/charts/snapshot-controller/templates/volumegroupsnapshotclass.yaml
  magnum_cluster_api/charts/snapshot-controller/templates/volumesnapshotclass.yaml
  magnum_cluster_api/charts/snapshot-controller/values.yaml
  magnum_cluster_api/cmd/image_loader.py
  magnum_cluster_api/helm.py
  magnum_cluster_api/resources.py
  registry/custom-images.yml
  tools/sync-snapshot-controller-csi-crds
Due: ensure-calico-manifest

feat: move to rust
  crates/helm/src/lib.rs
  magnum_cluster_api/helm.py
  magnum_cluster_api/resources.py
  src/addons/mod.rs
  src/addons/snapshot_controller.rs
  src/driver.rs
  src/magnum.rs
Due: ensure-calico-manifest

pass manila_csi_share_network_id to rust
  crates/helm/src/lib.rs
  src/addons/snapshot_controller.rs
  src/features/api_server_load_balancer.rs
  src/magnum.rs
Due: none

chore(deps): update cloud-provider-openstack
  .charts.yml
  magnum_cluster_api/charts/openstack-cloud-controller-manager/Chart.lock
  magnum_cluster_api/charts/openstack-cloud-controller-manager/Chart.yaml
  magnum_cluster_api/charts/openstack-cloud-controller-manager/templates/clusterrolebinding-sm.yaml
  magnum_cluster_api/charts/openstack-cloud-controller-manager/templates/daemonset.yaml
  magnum_cluster_api/charts/openstack-cloud-controller-manager/values.yaml
Due: none

chore(deps): update cloud-provider-openstack (#871)
  .charts.yml
  magnum_cluster_api/charts/openstack-cloud-controller-manager/Chart.lock
  magnum_cluster_api/charts/openstack-cloud-controller-manager/Chart.yaml
  magnum_cluster_api/charts/openstack-cloud-controller-manager/templates/clusterrolebinding-sm.yaml
  magnum_cluster_api/charts/openstack-cloud-controller-manager/templates/daemonset.yaml
  magnum_cluster_api/charts/openstack-cloud-controller-manager/values.yaml
Due: none

chore(deps): update cluster-autoscaler (#862)
  magnum_cluster_api/images.py
Due: none

bump cluster autoscaler to fix role permission issue (#861)
  .charts.yml
  magnum_cluster_api/charts/cluster-autoscaler/Chart.yaml
  magnum_cluster_api/charts/cluster-autoscaler/README.md
  magnum_cluster_api/charts/cluster-autoscaler/README.md.gotmpl
  magnum_cluster_api/charts/cluster-autoscaler/templates/clusterrole.yaml
  magnum_cluster_api/charts/cluster-autoscaler/templates/deployment.yaml
  magnum_cluster_api/charts/cluster-autoscaler/templates/role.yaml
  magnum_cluster_api/charts/cluster-autoscaler/templates/secret.yaml
  magnum_cluster_api/charts/cluster-autoscaler/values.yaml
  magnum_cluster_api/charts/patches/cluster-autoscaler/001-add-omt-to-clusterrole.patch
Due: none

feat: add support for Cilium HubbleUI
  docs/user/labels.md
  src/addons/cilium.rs
  src/magnum.rs
Due: none

chore(deps): update dependency projectcalico/calico to v3.31.3
  docs/user/labels.md
  magnum_cluster_api/cmd/image_loader.py
  magnum_cluster_api/manifests/calico/v3.31.3.yaml
  magnum_cluster_api/resources.py
  registry/custom-images.yml
Due: ensure-calico-manifest, replace-docker-io-calico
